<form action="/articles" method="post">
  <h1>Create an Article!</h1>
  <h2><label for="title">Article Title: </label></h2>
  <input type="text" name="title">
  <h2><label for="content">Content Body: </label></h2>
  <textarea name="content" rows="20" cols="100" placeholder="Type article body here."></textarea>
  <br>
  <input type="submit">
</form>
